/result*
.envrc
.direnv/
bin/
.claude/*
!.claude/skills
.vscode/*
!.vscode/extensions.json

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
